echo # VS Code > .gitignore
echo .vscode/ >> .gitignore
echo User Data/ >> .gitignore

echo # Maven >> .gitignore
echo target/ >> .gitignore
echo *.log >> .gitignore
echo *.class >> .gitignore

echo # Sistema operativo >> .gitignore
echo .DS_Store >> .gitignore
echo Thumbs.db >> .gitignore
